<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.UserMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'I'.toString()">
							id like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'N'.toString()">
							name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'R'.toString()">
							rrn like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id ="getList" resultType="com.bit.domain.UserVO">
		<![CDATA[
		select * from member where seq > 0 and rownum <= 100
		]]>
	</select>
	
	<insert id="insert">
		insert into member(seq, id, password, name, phone, email, address, sex, rrn) values (seq_member.nextval,#{id},#{password},#{name},#{phone},#{email},#{address},#{sex},#{rrn})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="seq" order="BEFORE" resultType="long">
			select seq_member.nextval from dual
		</selectKey>
		
		insert into member(seq, id, password, name, phone, email, address, sex, rrn) values (seq_member.nextval,#{id},#{password},#{name},#{phone},#{email},#{address},#{sex},#{rrn})
	</insert>
	
	<select id="read" resultType="com.bit.domain.UserVO">
		select * from member where seq = #{seq}
	</select>
	
	<delete id="delete">
		delete member where seq = #{seq}
	</delete>
	
	<update id="update">
		update member set
		id = #{id},
		password = #{password},
		name = #{name},
		rrn = #{rrn},
		phone = #{phone},
		email = #{email},
		address = #{address},
		sex = #{sex},
		updatedate = sysdate
		where seq = #{seq}
	</update>
	
	<select id="getListWithPaging" resultType="com.bit.domain.UserVO">
		<![CDATA[
		select seq, id, password, name, phone, email, address, sex, regdate, updatedate, rrn
		from (
			select /*+INDEX_DESC(member pk_member) */
			rownum rn, seq, id, password, name, phone, email, address, sex, regdate, updatedate, rrn
			from
			member
			where
		]]>
		
		<include refid="criteria"></include>
		
		<![CDATA[
			rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} -1) * #{amount}
		]]>
		
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from member where
		
		<include refid = "criteria"></include>
		
		 seq > 0
	</select>
</mapper>
